body {
  background-color:#000000;
  color: #ffffff;
}
#p {
  font-family: "Times New Roman", Times, serif;
}
#info {
  color: #ffffff;
}
#gallery {
  color: #ffffff;
}
#records {
  color: #ffffff;
}
#stay_tuned {
  color: #ffffff;
}
